body {
    background-size: cover;
    background-position: center;
}

.heading {
    font-family: 'Yusei Magic', sans-serif;
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

#status, #number_of_objects {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

canvas {
    margin-top: 80px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    border-radius: 10px;
}

#backBTN {
    box-shadow: 3px 3px black;
    border: solid 2px green;
    font-family: 'Source Sans Pro', sans-serif;
    width: 10%;
    font-size: 25px;
    position: fixed;
    bottom: 0;
    text-align: center;
    margin: 0px 0px 10px 20px;
}